workflows/SUB_Universal_Messenger.json
{
  "name": "SUB: Universal Messenger",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b19b5b03-fbcb-469e-9f23-7087a82c155a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Universal Message Sender - ONE node handles ALL channels\nconst input = $input.item.json;\n\nconst channel = (input.channel || input.preferred_platform || 'telegram').toLowerCase();\nconst recipient = input.recipient || input.chat_id || input.phone;\nconst message = input.message || input.text || input.body;\nconst buttons = input.buttons || input.inline_keyboard || null;\nconst mediaUrl = input.media_url || null;\n\n// Validate required fields\nif (!recipient || !message) {\n  return {\n    success: false,\n    error: 'Missing recipient or message',\n    channel: channel\n  };\n}\n\n// Return standardized output for the appropriate channel\nreturn {\n  channel: channel,\n  recipient: recipient,\n  message: message,\n  buttons: buttons,\n  mediaUrl: mediaUrl,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "8aa89e4a-cd64-42a4-909b-fbf150f18240",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5a83612a-8fbf-46a7-a696-32209c1775c2",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $json.recipient }}",
        "text": "={{ $json.message }}",
        "replyMarkup": "={{ $json.buttons ? 'inlineKeyboard' : 'none' }}",
        "inlineKeyboard": {
          "rows": "={{ $json.buttons || [] }}"
        },
        "additionalFields": {}
      },
      "id": "cd6ad434-671e-4367-b85e-59fed4642cba",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, -100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.recipient }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "0804c6c0-3675-42bf-8182-86c17b1054f2",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [660, 100],
      "credentials": {
        "whatsAppBusinessCloudApi": {
          "id": "whatsapp-cred",
          "name": "WhatsApp Business"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.recipient }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "e0c78c03-63be-4276-88ad-bfb613aebdcf",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-cred",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "caba4b2c-17c4-422a-a76a-e355bffdd7b8",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format successful response\nconst input = $input.item.json;\nreturn {\n  success: true,\n  channel: input.channel || 'unknown',\n  recipient: input.recipient || input.chat_id || input.to,\n  messageId: input.message_id || input.id || null,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "e6362e95-44d0-4a9e-8394-f027249cc613",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "optimized-v2",
    "description": "Universal messaging sub-workflow. Call via Execute Workflow with: channel, recipient, message, buttons (optional)"
  },
  "tags": ["sub-workflow", "messaging", "optimized"]
}
