workflows/WF4_Payment_Processor.json
{
  "name": "WF4: Payment Processor",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"property_id\": \"PROP001\",\n  \"booking_id\": \"BK123\",\n  \"guest_name\": \"John Doe\",\n  \"guest_email\": \"john@example.com\",\n  \"guest_phone\": \"+1234567890\",\n  \"check_in_date\": \"2026-03-01\",\n  \"check_out_date\": \"2026-03-05\",\n  \"num_guests\": \"2\",\n  \"total_amount\": \"600\",\n  \"currency\": \"USD\"\n}"
      },
      "id": "workflow-trigger",
      "name": "When Called by Other Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "payment-callback",
      "name": "Payment Callback Handler",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 400],
      "webhookId": "payment-callbacks",
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize input from internal request or Telegram callback\nconst input = $input.item.json;\n\n// Telegram callback (Payment Done / Cancel)\nif (input.callback_query) {\n  const callbackData = input.callback_query.data || '';\n  const parts = callbackData.split('_');\n  // Format: payment_confirm_BOOKINGID or payment_cancel_BOOKINGID\n  \n  return {\n    source: 'telegram_callback',\n    event_type: parts[1] === 'confirm' ? 'payment_confirmed' : 'payment_cancelled',\n    booking_id: parts[2],\n    confirmed_by: input.callback_query.from?.username || input.callback_query.from?.first_name,\n    callback_message_id: input.callback_query.message?.message_id,\n    callback_chat_id: input.callback_query.message?.chat?.id\n  };\n}\n\n// Internal create booking request from WF2\nreturn {\n  source: 'internal',\n  event_type: 'create_booking',\n  property_id: input.property_id,\n  booking_id: input.booking_id || `BK${Date.now()}`,\n  guest_name: input.guest_name,\n  guest_email: input.guest_email,\n  guest_phone: input.guest_phone,\n  check_in_date: input.check_in_date,\n  check_out_date: input.check_out_date,\n  num_guests: input.num_guests,\n  amount: input.total_amount,\n  currency: input.currency || 'USD',\n  owner_chat_id: input.owner_chat_id\n};"
      },
      "id": "normalize-event",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 250]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.event_type }}", "rightValue": "create_booking", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.event_type }}", "rightValue": "payment_confirmed", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.event_type }}", "rightValue": "payment_cancelled", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelled"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-event",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 250]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "bookings",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_id": "={{ $json.booking_id }}",
            "property_id": "={{ $json.property_id }}",
            "guest_name": "={{ $json.guest_name }}",
            "guest_email": "={{ $json.guest_email }}",
            "guest_phone": "={{ $json.guest_phone }}",
            "check_in_date": "={{ $json.check_in_date }}",
            "check_out_date": "={{ $json.check_out_date }}",
            "num_guests": "={{ $json.num_guests }}",
            "total_amount": "={{ $json.amount }}",
            "booking_status": "pending_payment",
            "payment_status": "awaiting",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "create-booking",
      "name": "Create Pending Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.*, o.owner_chat_id, o.owner_name\nFROM property_configurations p\nLEFT JOIN owners o ON p.owner_id = o.owner_id\nWHERE p.property_id = $1",
        "additionalFields": {
          "queryParameters": "={{ { \"parameters\": [$('Normalize Event').item.json.property_id] } }}"
        },
        "options": {}
      },
      "id": "get-property-owner",
      "name": "Get Property & Owner",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare owner notification with Payment Done button\nconst booking = $('Normalize Event').item.json;\nconst property = $input.item.json;\n\nconst message = `🏠 *New Booking - Awaiting Payment*\n\n📋 *Booking ID:* ${booking.booking_id}\n🏡 *Property:* ${property.property_name || booking.property_id}\n\n👤 *Guest:* ${booking.guest_name}\n📧 *Email:* ${booking.guest_email}\n📱 *Phone:* ${booking.guest_phone || 'Not provided'}\n\n📅 *Check-in:* ${booking.check_in_date}\n📅 *Check-out:* ${booking.check_out_date}\n👥 *Guests:* ${booking.num_guests}\n\n💰 *Total Amount:* $${booking.amount} ${booking.currency}\n\n⏳ *Status:* Awaiting Payment Confirmation\n\nOnce you receive payment, click the button below to confirm the booking.`;\n\nconst inlineKeyboard = [\n  [\n    { text: '✅ Payment Done', callback_data: `payment_confirm_${booking.booking_id}` },\n    { text: '❌ Cancel', callback_data: `payment_cancel_${booking.booking_id}` }\n  ]\n];\n\nreturn {\n  chat_id: property.owner_chat_id || booking.owner_chat_id,\n  message: message,\n  inline_keyboard: inlineKeyboard,\n  booking_id: booking.booking_id,\n  parse_mode: 'Markdown'\n};"
      },
      "id": "prepare-owner-notification",
      "name": "Prepare Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": {
            "inline_keyboard": "={{ $json.inline_keyboard }}"
          }
        }
      },
      "id": "send-owner-notification",
      "name": "Send Owner Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 0],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return booking data to calling workflow\nconst booking = $('Normalize Event').item.json;\n\nreturn {\n  success: true,\n  booking_id: booking.booking_id,\n  status: 'pending_payment',\n  message: `Booking ${booking.booking_id} created. Owner notified for payment confirmation.`\n};"
      },
      "id": "return-create-result",
      "name": "Return Create Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings\nSET booking_status = 'confirmed',\n    payment_status = 'paid',\n    payment_confirmed_by = $2,\n    confirmed_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP\nWHERE booking_id = $1\nRETURNING *",
        "additionalFields": {
          "queryParameters": "={{ { \"parameters\": [$json.booking_id, $json.confirmed_by] } }}"
        },
        "options": {}
      },
      "id": "confirm-booking",
      "name": "Confirm Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 250],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM property_configurations p\nJOIN bookings b ON b.property_id = p.property_id\nWHERE b.booking_id = $1",
        "additionalFields": {
          "queryParameters": "={{ { \"parameters\": [$('Normalize Event').item.json.booking_id] } }}"
        },
        "options": {}
      },
      "id": "get-property-for-confirm",
      "name": "Get Property Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 250],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a warm, professional booking confirmation message for:\n\nGuest: {{ $('Confirm Booking').item.json.guest_name }}\nProperty: {{ $json.property_name }}\nCheck-in: {{ $('Confirm Booking').item.json.check_in_date }} at {{ $json.check_in_time || '3:00 PM' }}\nCheck-out: {{ $('Confirm Booking').item.json.check_out_date }} at {{ $json.check_out_time || '11:00 AM' }}\nTotal Paid: ${{ $('Confirm Booking').item.json.total_amount }}\n\nInclude:\n1. Thank you for booking\n2. Confirmation of dates\n3. Mention they'll receive check-in instructions closer to arrival\n4. Contact info if questions\n\nKeep under 150 words. Use appropriate emojis.",
        "hasOutputParser": false,
        "options": {}
      },
      "id": "generate-confirmation",
      "name": "Generate Confirmation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1100, 250]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": { "temperature": 0.7 }
      },
      "id": "confirm-model",
      "name": "Confirmation Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1100, 450],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "SUB: Universal Messenger",
          "cachedResultName": "SUB: Universal Messenger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "telegram",
            "recipient": "={{ $('Confirm Booking').item.json.guest_phone }}",
            "message": "={{ $json.text || $json.output || 'Your booking has been confirmed!' }}"
          }
        },
        "options": {}
      },
      "id": "send-guest-confirm",
      "name": "Send Guest Confirmation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1320, 250]
    },
    {
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $('Normalize Event').item.json.callback_query?.id }}",
        "text": "✅ Payment confirmed! Guest notified.",
        "additionalFields": {}
      },
      "id": "answer-callback-confirm",
      "name": "Answer Callback (Confirm)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 250],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings\nSET booking_status = 'cancelled',\n    payment_status = 'cancelled',\n    cancelled_at = CURRENT_TIMESTAMP,\n    cancelled_by = $2,\n    updated_at = CURRENT_TIMESTAMP\nWHERE booking_id = $1\nRETURNING *",
        "additionalFields": {
          "queryParameters": "={{ { \"parameters\": [$json.booking_id, $json.confirmed_by] } }}"
        },
        "options": {}
      },
      "id": "cancel-booking",
      "name": "Cancel Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "SUB: Universal Messenger",
          "cachedResultName": "SUB: Universal Messenger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "telegram",
            "recipient": "={{ $json.guest_phone }}",
            "message": "={{ 'Your booking ' + $json.booking_id + ' has been cancelled. If you have questions, please reach out to us.' }}"
          }
        },
        "options": {}
      },
      "id": "notify-cancellation",
      "name": "Notify Cancellation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, 500]
    },
    {
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $('Normalize Event').item.json.callback_query?.id }}",
        "text": "❌ Booking cancelled.",
        "additionalFields": {}
      },
      "id": "answer-callback-cancel",
      "name": "Answer Callback (Cancel)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "When Called by Other Workflow": {
      "main": [[{ "node": "Normalize Event", "type": "main", "index": 0 }]]
    },
    "Payment Callback Handler": {
      "main": [[{ "node": "Normalize Event", "type": "main", "index": 0 }]]
    },
    "Normalize Event": {
      "main": [[{ "node": "Route by Event", "type": "main", "index": 0 }]]
    },
    "Route by Event": {
      "main": [
        [{ "node": "Create Pending Booking", "type": "main", "index": 0 }],
        [{ "node": "Confirm Booking", "type": "main", "index": 0 }],
        [{ "node": "Cancel Booking", "type": "main", "index": 0 }]
      ]
    },
    "Create Pending Booking": {
      "main": [[{ "node": "Get Property & Owner", "type": "main", "index": 0 }]]
    },
    "Get Property & Owner": {
      "main": [[{ "node": "Prepare Owner Notification", "type": "main", "index": 0 }]]
    },
    "Prepare Owner Notification": {
      "main": [[{ "node": "Send Owner Notification", "type": "main", "index": 0 }]]
    },
    "Send Owner Notification": {
      "main": [[{ "node": "Return Create Result", "type": "main", "index": 0 }]]
    },
    "Confirm Booking": {
      "main": [[{ "node": "Get Property Details", "type": "main", "index": 0 }]]
    },
    "Get Property Details": {
      "main": [[{ "node": "Generate Confirmation", "type": "main", "index": 0 }]]
    },
    "Confirmation Model": {
      "ai_languageModel": [[{ "node": "Generate Confirmation", "type": "ai_languageModel", "index": 0 }]]
    },
    "Generate Confirmation": {
      "main": [[{ "node": "Send Guest Confirmation", "type": "main", "index": 0 }]]
    },
    "Send Guest Confirmation": {
      "main": [[{ "node": "Answer Callback (Confirm)", "type": "main", "index": 0 }]]
    },
    "Cancel Booking": {
      "main": [[{ "node": "Notify Cancellation", "type": "main", "index": 0 }]]
    },
    "Notify Cancellation": {
      "main": [[{ "node": "Answer Callback (Cancel)", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "optimized-v2",
    "description": "Manual payment confirmation: Creates pending bookings, sends owner notification with Payment Done button, confirms booking on owner action. No Stripe required."
  },
  "tags": ["payment", "booking", "manual-confirmation", "optimized"]
}
