workflows/WF8_Safety_Screening.json
{
  "updatedAt": "2026-02-16T06:57:52.086Z",
  "createdAt": "2026-02-06T08:45:24.544Z",
  "id": "__WF_ID:WF8: Safety & Screening__",
  "name": "WF8: Safety & Screening",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"event_type\": \"emergency\",\n  \"channel\": \"telegram\",\n  \"sender_id\": \"123456789\",\n  \"customer_id\": \"uuid-here\",\n  \"property_id\": \"prop-123\",\n  \"message_text\": \"Help! Locked out!\",\n  \"booking_id\": \"\",\n  \"guest_name\": \"\",\n  \"guest_email\": \"\",\n  \"guest_phone\": \"\",\n  \"check_in_date\": \"\",\n  \"category\": \"EMERGENCY\"\n}"
      },
      "id": "workflow-trigger",
      "name": "When Called by Other Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        52
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "watchdog-trigger",
      "name": "Watchdog Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        244
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize input from WF1 tool call, watchdog trigger, or webhook\nconst input = $input.item.json;\n\nlet event = {\n  event_type: 'unknown',\n  // Fields for Send Alerts (SUB) — every path must include these\n  channel: 'telegram',\n  sender_id: '',\n  customer_id: '',\n  // Event data\n  property_id: null,\n  owner_telegram: null,\n  data: {},\n  message: ''\n};\n\n// Emergency — from WF1 tool call\nif (input.event_type === 'emergency' || input.category === 'EMERGENCY') {\n  event.event_type = 'emergency';\n  event.channel = input.channel || 'telegram';\n  event.sender_id = input.sender_id || '';\n  event.customer_id = input.customer_id || '';\n  event.property_id = input.property_id;\n  event.message = input.message_text || input.issue_description || '';\n  event.data = {\n    message: event.message,\n    sender_id: input.sender_id,\n    channel: input.channel,\n    property_id: input.property_id,\n    guest_name: input.sender_name || input.guest_name || 'Guest'\n  };\n}\n// Screening — from WF1 or booking flow\nelse if (input.event_type === 'screening' || input.guest_email || input.booking_id) {\n  event.event_type = 'screening';\n  event.channel = input.channel || 'system';\n  event.sender_id = input.sender_id || '';\n  event.customer_id = input.customer_id || '';\n  event.property_id = input.property_id;\n  event.data = {\n    guest_name: input.guest_name || '',\n    guest_email: input.guest_email || '',\n    guest_phone: input.guest_phone || '',\n    booking_id: input.booking_id || '',\n    check_in_date: input.check_in_date || '',\n    property_id: input.property_id || ''\n  };\n}\n// Watchdog — scheduled system check (no specific recipient)\nelse {\n  event.event_type = 'watchdog';\n  event.channel = 'system';\n  event.sender_id = '';\n  event.customer_id = '';\n  event.data = { triggered_at: new Date().toISOString() };\n}\n\nreturn event;"
      },
      "id": "normalize-event",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        52
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "emergency",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "emergency"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "screening",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "screening"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "watchdog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "watchdog"
            }
          ]
        },
        "options": {}
      },
      "id": "route-event",
      "name": "Route Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        36
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an emergency response coordinator. A guest has reported an urgent issue:\n\nMessage: {{ $json.data.message }}\nProperty ID: {{ $json.data.property_id }}\nChannel: {{ $json.data.channel }}\n\nAnalyze the emergency and determine:\n1. Type of emergency (fire, medical, security, utility, natural disaster, other)\n2. Severity level (critical, high, medium)\n3. Required responders (911, owner, maintenance, security)\n4. Immediate actions needed\n\nProvide a calm, reassuring response to the guest with clear instructions.",
        "options": {
          "maxIterations": 3
        }
      },
      "id": "ai-emergency",
      "name": "AI Emergency Handler",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1120,
        -96
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "emergency-model",
      "name": "Emergency Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1128,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "[Client] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "escalate_emergency",
        "description": "Escalate emergency to appropriate responders"
      },
      "id": "tool-escalate",
      "name": "Escalate Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1256,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a guest screening specialist. Review this booking request:\n\nGuest Name: {{ $json.data.guest_name }}\nEmail: {{ $json.data.guest_email }}\nPhone: {{ $json.data.guest_phone }}\nCheck-in Date: {{ $json.data.check_in_date }}\nProperty: {{ $json.data.property_id }}\n\nPerform a risk assessment considering:\n1. Contact information validity\n2. Booking timing (same-day, advance booking)\n3. Any red flags\n\nProvide a screening decision: APPROVE, FLAG_FOR_REVIEW, or REJECT with reasoning.",
        "options": {
          "maxIterations": 2
        }
      },
      "id": "ai-screening",
      "name": "AI Screening Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1472,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "screening-model",
      "name": "Screening Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1544,
        424
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "[Client] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  'stale_bookings' as check_type,\n  COUNT(*) as count\nFROM bookings\nWHERE booking_status = 'pending_payment'\n  AND created_at < NOW() - INTERVAL '24 hours'\nUNION ALL\nSELECT\n  'stuck_conversations' as check_type,\n  COUNT(*) as count\nFROM conversations\nWHERE conversation_stage NOT IN ('completed', 'cancelled')\n  AND updated_at < NOW() - INTERVAL '4 hours'\nUNION ALL\nSELECT\n  'unresponded_maintenance' as check_type,\n  COUNT(*) as count\nFROM maintenance_tickets\nWHERE status = 'new'\n  AND created_at < NOW() - INTERVAL '2 hours'\n  AND urgency IN ('high', 'emergency')\nUNION ALL\nSELECT\n  'overdue_cleanings' as check_type,\n  COUNT(*) as count\nFROM cleaning_schedules\nWHERE status = 'scheduled'\n  AND scheduled_date < CURRENT_DATE",
        "options": {}
      },
      "id": "watchdog-checks",
      "name": "Run Watchdog Checks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "[Client] PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze watchdog results and generate alerts\nconst checks = $input.all().map(i => i.json);\nconst alerts = [];\n\nfor (const check of checks) {\n  const count = parseInt(check.count || 0);\n  if (count > 0) {\n    alerts.push({\n      type: check.check_type,\n      count: count,\n      severity: (check.check_type || '').includes('maintenance') ? 'high' : 'medium',\n      message: count + ' ' + (check.check_type || 'issue').replace(/_/g, ' ') + ' detected'\n    });\n  }\n}\n\nconst totalIssues = alerts.reduce((sum, a) => sum + a.count, 0);\n\n// Build alert message for notification\nlet alertMessage = '';\nif (alerts.length === 0) {\n  alertMessage = 'Watchdog: All systems healthy. No issues detected.';\n} else {\n  alertMessage = 'Watchdog Alert — ' + totalIssues + ' issue(s) found:\\n\\n';\n  for (const a of alerts) {\n    const marker = a.severity === 'high' ? '[HIGH]' : '[WARN]';\n    alertMessage += marker + ' ' + a.message + '\\n';\n  }\n  alertMessage += '\\nReview your dashboard for details.';\n}\n\n// Return with ALL fields Send Alerts needs (so it can use $json only)\nreturn [{\n  json: {\n    total_issues: Number(totalIssues),\n    alerts: alerts,\n    alert_count: Number(alerts.length),\n    alert_message: alertMessage,\n    check_time: new Date().toISOString(),\n    status: totalIssues > 0 ? 'issues_found' : 'all_clear',\n    severity: alerts.some(a => a.severity === 'high') ? 'high' : 'medium',\n    // Include fields for Send Alerts (SUB) — watchdog has no specific recipient\n    channel: 'telegram',\n    sender_id: '',\n    customer_id: ''\n  },\n  pairedItem: { item: 0 }\n}];"
      },
      "id": "analyze-watchdog",
      "name": "Analyze Watchdog Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-issues",
              "leftValue": "={{ $json.total_issues }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "has-issues",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1184,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0L7HOkqENABlbPtT",
          "mode": "list",
          "cachedResultUrl": "/workflow/0L7HOkqENABlbPtT",
          "cachedResultName": "SUB: Owner & Staff Notifier"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $json.channel || 'telegram' }}",
            "sender_id": "={{ $json.sender_id || $json.recipient_id || '' }}",
            "input": "={{ $json.alert_message || $json.message || 'System alert' }}",
            "customer_id": "={{ $json.customer_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "send-alerts",
      "name": "Send Alerts",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1536,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log security event — pass through to Return Result\n// Actual logging is captured in n8n execution history\n// This prevents column mismatch errors from blocking the flow\nconst event = $('Normalize Event').item.json;\nconst result = $input.item.json;\n\n// Build log entry for execution history (visible in n8n UI)\nconsole.log('[WF8] Security Event:', JSON.stringify({\n  event_type: event.event_type,\n  channel: event.channel,\n  timestamp: new Date().toISOString(),\n  status: result.status || 'completed'\n}));\n\n// Pass through the input unchanged\nreturn result;"
      },
      "id": "log-event",
      "name": "Log Security Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return clear result to WF1 AI Agent\n// Use $input.item.json ONLY — no cross-node $('Name') references\nconst result = $input.item.json;\n\nconst response = {\n  success: true,\n  event_type: result.event_type || 'unknown',\n  timestamp: new Date().toISOString()\n};\n\nif (result.event_type === 'emergency' || result.emergency_type) {\n  response.emergency_type = result.emergency_type || 'unknown';\n  response.severity = result.severity || 'high';\n  response.message = 'Emergency reported and logged. ';\n  if (result.emergency_type) {\n    response.message += 'Type: ' + result.emergency_type + ', Severity: ' + result.severity + '. ';\n  }\n  response.message += 'The property owner has been notified. If life-threatening, call emergency services (911) immediately.';\n} else if (result.event_type === 'screening' || result.screening_result) {\n  response.screening_result = result.screening_result || result.decision || 'PENDING';\n  response.risk_level = result.risk_level || 'unknown';\n  response.flags = result.flags || [];\n  response.message = 'Guest screening complete. Result: ' + response.screening_result + ', Risk: ' + response.risk_level + '.';\n} else if (result.event_type === 'watchdog' || result.total_issues !== undefined) {\n  response.total_issues = Number(result.total_issues || 0);\n  response.alerts = result.alerts || [];\n  response.message = result.alert_message || 'Watchdog check complete — ' + response.total_issues + ' issue(s).';\n} else {\n  response.message = 'Event processed.';\n  response.data = result;\n}\n\nreturn response;"
      },
      "id": "return-result",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        208
      ]
    }
  ],
  "connections": {
    "When Called by Other Workflow": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watchdog Every 15 Min": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "Route Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event Type": {
      "main": [
        [
          {
            "node": "AI Emergency Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Screening Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Watchdog Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Emergency Handler",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Emergency Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Emergency Handler": {
      "main": [
        [
          {
            "node": "Send Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screening Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Screening Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Screening Agent": {
      "main": [
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Watchdog Checks": {
      "main": [
        [
          {
            "node": "Analyze Watchdog Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Watchdog Results": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Send Alerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alerts": {
      "main": [
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Security Event": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Watchdog Every 15 Min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "When Called by Other Workflow": [
      {
        "json": {
          "event_type": null,
          "channel": "sms",
          "sender_id": "call_DttZKhROG0HA7X2kc1YG4Lsu",
          "customer_id": "00000000-0000-0000-0000-000000000001",
          "property_id": "PROP-TEST-001",
          "message_text": "My partner is choking in my room!"
        }
      }
    ]
  },
  "activeVersionId": "d745050c-516d-4e30-9263-35633feb6c64",
  "versionCounter": 64,
  "activeVersion": {
    "updatedAt": "2026-02-16T06:57:52.089Z",
    "createdAt": "2026-02-16T06:57:52.089Z",
    "versionId": "d745050c-516d-4e30-9263-35633feb6c64",
    "workflowId": "__WF_ID:WF8: Safety & Screening__",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"event_type\": \"emergency\",\n  \"channel\": \"telegram\",\n  \"sender_id\": \"123456789\",\n  \"customer_id\": \"uuid-here\",\n  \"property_id\": \"prop-123\",\n  \"message_text\": \"Help! Locked out!\",\n  \"booking_id\": \"\",\n  \"guest_name\": \"\",\n  \"guest_email\": \"\",\n  \"guest_phone\": \"\",\n  \"check_in_date\": \"\",\n  \"category\": \"EMERGENCY\"\n}"
        },
        "id": "workflow-trigger",
        "name": "When Called by Other Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          52
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtMinute": 15
              }
            ]
          }
        },
        "id": "watchdog-trigger",
        "name": "Watchdog Every 15 Min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          244
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Normalize input from WF1 tool call, watchdog trigger, or webhook\nconst input = $input.item.json;\n\nlet event = {\n  event_type: 'unknown',\n  // Fields for Send Alerts (SUB) — every path must include these\n  channel: 'telegram',\n  sender_id: '',\n  customer_id: '',\n  // Event data\n  property_id: null,\n  owner_telegram: null,\n  data: {},\n  message: ''\n};\n\n// Emergency — from WF1 tool call\nif (input.event_type === 'emergency' || input.category === 'EMERGENCY') {\n  event.event_type = 'emergency';\n  event.channel = input.channel || 'telegram';\n  event.sender_id = input.sender_id || '';\n  event.customer_id = input.customer_id || '';\n  event.property_id = input.property_id;\n  event.message = input.message_text || input.issue_description || '';\n  event.data = {\n    message: event.message,\n    sender_id: input.sender_id,\n    channel: input.channel,\n    property_id: input.property_id,\n    guest_name: input.sender_name || input.guest_name || 'Guest'\n  };\n}\n// Screening — from WF1 or booking flow\nelse if (input.event_type === 'screening' || input.guest_email || input.booking_id) {\n  event.event_type = 'screening';\n  event.channel = input.channel || 'system';\n  event.sender_id = input.sender_id || '';\n  event.customer_id = input.customer_id || '';\n  event.property_id = input.property_id;\n  event.data = {\n    guest_name: input.guest_name || '',\n    guest_email: input.guest_email || '',\n    guest_phone: input.guest_phone || '',\n    booking_id: input.booking_id || '',\n    check_in_date: input.check_in_date || '',\n    property_id: input.property_id || ''\n  };\n}\n// Watchdog — scheduled system check (no specific recipient)\nelse {\n  event.event_type = 'watchdog';\n  event.channel = 'system';\n  event.sender_id = '';\n  event.customer_id = '';\n  event.data = { triggered_at: new Date().toISOString() };\n}\n\nreturn event;"
        },
        "id": "normalize-event",
        "name": "Normalize Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          52
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.event_type }}",
                      "rightValue": "emergency",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "emergency"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.event_type }}",
                      "rightValue": "screening",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "screening"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.event_type }}",
                      "rightValue": "watchdog",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "watchdog"
              }
            ]
          },
          "options": {}
        },
        "id": "route-event",
        "name": "Route Event Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          448,
          36
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "You are an emergency response coordinator. A guest has reported an urgent issue:\n\nMessage: {{ $json.data.message }}\nProperty ID: {{ $json.data.property_id }}\nChannel: {{ $json.data.channel }}\n\nAnalyze the emergency and determine:\n1. Type of emergency (fire, medical, security, utility, natural disaster, other)\n2. Severity level (critical, high, medium)\n3. Required responders (911, owner, maintenance, security)\n4. Immediate actions needed\n\nProvide a calm, reassuring response to the guest with clear instructions.",
          "options": {
            "maxIterations": 3
          }
        },
        "id": "ai-emergency",
        "name": "AI Emergency Handler",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1120,
          -96
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {
            "temperature": 0.2
          }
        },
        "id": "emergency-model",
        "name": "Emergency Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1128,
          128
        ],
        "credentials": {
          "openAiApi": {
            "id": "openai-cred",
            "name": "[Client] OpenAI"
          }
        }
      },
      {
        "parameters": {
          "name": "escalate_emergency",
          "description": "Escalate emergency to appropriate responders"
        },
        "id": "tool-escalate",
        "name": "Escalate Tool",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          1256,
          128
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "You are a guest screening specialist. Review this booking request:\n\nGuest Name: {{ $json.data.guest_name }}\nEmail: {{ $json.data.guest_email }}\nPhone: {{ $json.data.guest_phone }}\nCheck-in Date: {{ $json.data.check_in_date }}\nProperty: {{ $json.data.property_id }}\n\nPerform a risk assessment considering:\n1. Contact information validity\n2. Booking timing (same-day, advance booking)\n3. Any red flags\n\nProvide a screening decision: APPROVE, FLAG_FOR_REVIEW, or REJECT with reasoning.",
          "options": {
            "maxIterations": 2
          }
        },
        "id": "ai-screening",
        "name": "AI Screening Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1472,
          200
        ]
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.1
          }
        },
        "id": "screening-model",
        "name": "Screening Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1544,
          424
        ],
        "credentials": {
          "openAiApi": {
            "id": "openai-cred",
            "name": "[Client] OpenAI"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  'stale_bookings' as check_type,\n  COUNT(*) as count\nFROM bookings\nWHERE booking_status = 'pending_payment'\n  AND created_at < NOW() - INTERVAL '24 hours'\nUNION ALL\nSELECT\n  'stuck_conversations' as check_type,\n  COUNT(*) as count\nFROM conversations\nWHERE conversation_stage NOT IN ('completed', 'cancelled')\n  AND updated_at < NOW() - INTERVAL '4 hours'\nUNION ALL\nSELECT\n  'unresponded_maintenance' as check_type,\n  COUNT(*) as count\nFROM maintenance_tickets\nWHERE status = 'new'\n  AND created_at < NOW() - INTERVAL '2 hours'\n  AND urgency IN ('high', 'emergency')\nUNION ALL\nSELECT\n  'overdue_cleanings' as check_type,\n  COUNT(*) as count\nFROM cleaning_schedules\nWHERE status = 'scheduled'\n  AND scheduled_date < CURRENT_DATE",
          "options": {}
        },
        "id": "watchdog-checks",
        "name": "Run Watchdog Checks",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          672,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "postgres-cred",
            "name": "[Client] PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Analyze watchdog results and generate alerts\nconst checks = $input.all().map(i => i.json);\nconst alerts = [];\n\nfor (const check of checks) {\n  const count = parseInt(check.count || 0);\n  if (count > 0) {\n    alerts.push({\n      type: check.check_type,\n      count: count,\n      severity: (check.check_type || '').includes('maintenance') ? 'high' : 'medium',\n      message: count + ' ' + (check.check_type || 'issue').replace(/_/g, ' ') + ' detected'\n    });\n  }\n}\n\nconst totalIssues = alerts.reduce((sum, a) => sum + a.count, 0);\n\n// Build alert message for notification\nlet alertMessage = '';\nif (alerts.length === 0) {\n  alertMessage = 'Watchdog: All systems healthy. No issues detected.';\n} else {\n  alertMessage = 'Watchdog Alert — ' + totalIssues + ' issue(s) found:\\n\\n';\n  for (const a of alerts) {\n    const marker = a.severity === 'high' ? '[HIGH]' : '[WARN]';\n    alertMessage += marker + ' ' + a.message + '\\n';\n  }\n  alertMessage += '\\nReview your dashboard for details.';\n}\n\n// Return with ALL fields Send Alerts needs (so it can use $json only)\nreturn [{\n  json: {\n    total_issues: Number(totalIssues),\n    alerts: alerts,\n    alert_count: Number(alerts.length),\n    alert_message: alertMessage,\n    check_time: new Date().toISOString(),\n    status: totalIssues > 0 ? 'issues_found' : 'all_clear',\n    severity: alerts.some(a => a.severity === 'high') ? 'high' : 'medium',\n    // Include fields for Send Alerts (SUB) — watchdog has no specific recipient\n    channel: 'telegram',\n    sender_id: '',\n    customer_id: ''\n  },\n  pairedItem: { item: 0 }\n}];"
        },
        "id": "analyze-watchdog",
        "name": "Analyze Watchdog Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-issues",
                "leftValue": "={{ $json.total_issues }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "has-issues",
        "name": "Has Issues?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1184,
          400
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "0L7HOkqENABlbPtT",
            "mode": "list",
            "cachedResultUrl": "/workflow/0L7HOkqENABlbPtT",
            "cachedResultName": "SUB: Owner & Staff Notifier"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "channel": "={{ $json.channel || 'telegram' }}",
              "sender_id": "={{ $json.sender_id || $json.recipient_id || '' }}",
              "input": "={{ $json.alert_message || $json.message || 'System alert' }}",
              "customer_id": "={{ $json.customer_id || '' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "channel",
                "displayName": "channel",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "sender_id",
                "displayName": "sender_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "customer_id",
                "displayName": "customer_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "send-alerts",
        "name": "Send Alerts",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1536,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "// Log security event — pass through to Return Result\n// Actual logging is captured in n8n execution history\n// This prevents column mismatch errors from blocking the flow\nconst event = $('Normalize Event').item.json;\nconst result = $input.item.json;\n\n// Build log entry for execution history (visible in n8n UI)\nconsole.log('[WF8] Security Event:', JSON.stringify({\n  event_type: event.event_type,\n  channel: event.channel,\n  timestamp: new Date().toISOString(),\n  status: result.status || 'completed'\n}));\n\n// Pass through the input unchanged\nreturn result;"
        },
        "id": "log-event",
        "name": "Log Security Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          200
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Return clear result to WF1 AI Agent\n// Use $input.item.json ONLY — no cross-node $('Name') references\nconst result = $input.item.json;\n\nconst response = {\n  success: true,\n  event_type: result.event_type || 'unknown',\n  timestamp: new Date().toISOString()\n};\n\nif (result.event_type === 'emergency' || result.emergency_type) {\n  response.emergency_type = result.emergency_type || 'unknown';\n  response.severity = result.severity || 'high';\n  response.message = 'Emergency reported and logged. ';\n  if (result.emergency_type) {\n    response.message += 'Type: ' + result.emergency_type + ', Severity: ' + result.severity + '. ';\n  }\n  response.message += 'The property owner has been notified. If life-threatening, call emergency services (911) immediately.';\n} else if (result.event_type === 'screening' || result.screening_result) {\n  response.screening_result = result.screening_result || result.decision || 'PENDING';\n  response.risk_level = result.risk_level || 'unknown';\n  response.flags = result.flags || [];\n  response.message = 'Guest screening complete. Result: ' + response.screening_result + ', Risk: ' + response.risk_level + '.';\n} else if (result.event_type === 'watchdog' || result.total_issues !== undefined) {\n  response.total_issues = Number(result.total_issues || 0);\n  response.alerts = result.alerts || [];\n  response.message = result.alert_message || 'Watchdog check complete — ' + response.total_issues + ' issue(s).';\n} else {\n  response.message = 'Event processed.';\n  response.data = result;\n}\n\nreturn response;"
        },
        "id": "return-result",
        "name": "Return Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          208
        ]
      }
    ],
    "connections": {
      "When Called by Other Workflow": {
        "main": [
          [
            {
              "node": "Normalize Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Watchdog Every 15 Min": {
        "main": [
          [
            {
              "node": "Normalize Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Event": {
        "main": [
          [
            {
              "node": "Route Event Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Event Type": {
        "main": [
          [
            {
              "node": "AI Emergency Handler",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Screening Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Run Watchdog Checks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Emergency Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Emergency Handler",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Escalate Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Emergency Handler",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Emergency Handler": {
        "main": [
          [
            {
              "node": "Send Alerts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Screening Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Screening Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Screening Agent": {
        "main": [
          [
            {
              "node": "Log Security Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Watchdog Checks": {
        "main": [
          [
            {
              "node": "Analyze Watchdog Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Watchdog Results": {
        "main": [
          [
            {
              "node": "Has Issues?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Issues?": {
        "main": [
          [
            {
              "node": "Send Alerts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Security Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Alerts": {
        "main": [
          [
            {
              "node": "Log Security Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Security Event": {
        "main": [
          [
            {
              "node": "Return Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gabriel Erna",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T06:57:54.089Z",
        "id": 297,
        "workflowId": "__WF_ID:WF8: Safety & Screening__",
        "versionId": "d745050c-516d-4e30-9263-35633feb6c64",
        "event": "activated",
        "userId": "953ba085-e3b3-41f0-8479-98dd4f06f8a7"
      }
    ]
  }
}